### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [262]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [263]:
#Calculate the total number of schools
tot_schools = school_data_complete["school_name"].unique()
tot_schools

total_schools = len(tot_schools)
total_schools

15

In [264]:
#Calculate the total number of students
total_stud = school_data_complete["size"].count()
total_stud

39170

In [265]:
#Calculate the total budget
budg_total = school_data["budget"].sum()
budg_total

24649428

In [266]:
#Calculate the average math score
average_math = school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [267]:
#Calculate the average reading score
average_read = school_data_complete["reading_score"].mean()
average_read

81.87784018381414

In [268]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.query("math_score >= 70")["reading_score"].count()/total_stud
passing_math

0.749808526933878

In [269]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_read = school_data_complete.query("reading_score >= 70")["reading_score"].count()/total_stud
passing_read

0.8580546336482001

In [270]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
over_passing = ((passing_math + passing_read)/2)
over_passing

0.8039315802910391

In [271]:
#Create a dataframe to hold the above results

DistrictSum = pd.DataFrame({"Total Schools":[total_schools],
                        "Total Students":[total_stud],
                        "Total Budget":[budg_total],
                        "Average Math Score":[average_math],
                        "Average Reading Score":[average_read],
                        "Percent Passing Math":[passing_math],
                        "Percent Passing Reading":[passing_read],
                        "Percent Passing Overall":[over_passing]
                       })
DistrictSum


#Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

## School Summary

In [272]:
#School Name
school_nombre = school_data_complete.set_index('school_name').groupby(['school_name'])

school_nombre

In [273]:
#SchoolTyoe
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [274]:
#total school budget
school_budget = school_data.set_index("school_name")["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [275]:
#total Studentss
total_students = school_nombre['Student ID'].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [276]:
#Per Student Budget: group the schools divide it by the numbner of students
ps_budg = school_budget/total_students
ps_budg

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [277]:
avg_math = school_nombre["math_score"].mean()
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [278]:
avg_read = school_nombre["reading_score"].mean()
avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [279]:
avg_overall = ((avg_math + avg_read)/2)
avg_overall

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [280]:
# % Passing Math
percent_pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students


percent_pass_math

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
Name: Student ID, dtype: float64

In [281]:
# % Passing reading
percent_pass_read = school_data_complete.loc[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/total_students


percent_pass_read

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
Name: Student ID, dtype: float64

In [282]:
overview_df = pd.DataFrame({"School Type":school_type, "Total School Budget":school_budget, "Per Student Budget":ps_budg, "Total Students":total_students, "Average Math Score":avg_math, "Average Reading Score":avg_read,"% Passing Reading":percent_pass_read, "% Passing Math":percent_pass_math, "Overall Average":avg_overall
                       
                       })
overview_df

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Average
Bailey High School,District,3124928,628.0,4976,77.048432,81.033963,0.819333,0.666801,79.041198
Cabrera High School,Charter,1081356,582.0,1858,83.061895,83.975780,0.970398,0.941335,83.518837
Figueroa High School,District,1884411,639.0,2949,76.711767,81.158020,0.807392,0.659885,78.934893
Ford High School,District,1763916,644.0,2739,77.102592,80.746258,0.792990,0.683096,78.924425
Griffin High School,Charter,917500,625.0,1468,83.351499,83.816757,0.971390,0.933924,83.584128
Hernandez High School,District,3022020,652.0,4635,77.289752,80.934412,0.808630,0.667530,79.112082
Holden High School,Charter,248087,581.0,427,83.803279,83.814988,0.962529,0.925059,83.809133
Huang High School,District,1910635,655.0,2917,76.629414,81.182722,0.813164,0.656839,78.906068
Johnson High School,District,3094650,650.0,4761,77.072464,80.966394,0.812224,0.660576,79.019429
Pena High School,Charter,585858,609.0,962,83.839917,84.044699,0.959459,0.945946,83.942308
Rodriguez High School,District,2547363,637.0,3999,76.842711,80.744686,0.802201,0.663666,78.793698
Shelton High School,Charter,1056600,600.0,1761,83.359455,83.725724,0.958546,0.938671,83.542589
Thomas High School,Charter,1043130,638.0,1635,83.418349,83.848930,0.973089,0.932722,83.633639
Wilson High School,Charter,1319574,578.0,2283,83.274201,83.989488,0.965396,0.938677,83.631844
Wright High School,Charter,1049400,583.0,1800,83.682222,83.955000,0.966111,0.933333,83.818611

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [283]:
#sort it
sorted_df = overview_df.sort_values(by=['Overall Average'], ascending=False)
sorted_df
#grab the first five schools
first_five = sorted_df.head(5)
first_five

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Average
Pena High School,Charter,585858,609.0,962,83.839917,84.044699,0.959459,0.945946,83.942308
Wright High School,Charter,1049400,583.0,1800,83.682222,83.955000,0.966111,0.933333,83.818611
Holden High School,Charter,248087,581.0,427,83.803279,83.814988,0.962529,0.925059,83.809133
Thomas High School,Charter,1043130,638.0,1635,83.418349,83.848930,0.973089,0.932722,83.633639
Wilson High School,Charter,1319574,578.0,2283,83.274201,83.989488,0.965396,0.938677,83.631844

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [284]:
bottom_df = overview_df.sort_values(by=['Overall Average'], ascending=True)
bottom_df

bottom_five = bottom_df.head(5)
bottom_five

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,% Passing Reading,% Passing Math,Overall Average
Rodriguez High School,District,2547363,637.0,3999,76.842711,80.744686,0.802201,0.663666,78.793698
Huang High School,District,1910635,655.0,2917,76.629414,81.182722,0.813164,0.656839,78.906068
Ford High School,District,1763916,644.0,2739,77.102592,80.746258,0.792990,0.683096,78.924425
Figueroa High School,District,1884411,639.0,2949,76.711767,81.158020,0.807392,0.659885,78.934893
Johnson High School,District,3094650,650.0,4761,77.072464,80.966394,0.812224,0.660576,79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [285]:
#Average Math Scores
math_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['math_score'].mean()
math_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['math_score'].mean()
math_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['math_score'].mean()
math_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['math_score'].mean()

#Dataframe

mean_math_df = pd.DataFrame({"9th": math_9th,
                            "10th": math_10th,
                            "11th": math_11th,
                            "12th": math_12th,
    
                            })

#Rearrange the order
mean_math_df = mean_math_df[["9th","10th","11th","12th"]]

mean_math_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [286]:
#Average reading scores
eng_9th = school_data_complete.loc[school_data_complete["grade"] == '9th'].groupby('school_name')['reading_score'].mean()
eng_10th = school_data_complete.loc[school_data_complete["grade"] == '10th'].groupby('school_name')['reading_score'].mean()
eng_11th = school_data_complete.loc[school_data_complete["grade"] == '11th'].groupby('school_name')['reading_score'].mean()
eng_12th = school_data_complete.loc[school_data_complete["grade"] == '12th'].groupby('school_name')['reading_score'].mean()

#Dataframe

mean_eng_df = pd.DataFrame({"9th": eng_9th,
                            "10th": eng_10th,
                            "11th": eng_11th,
                            "12th": eng_12th,
    
                            })

#Rearrange the order
mean_eng_df = mean_eng_df[["9th","10th","11th","12th"]]

mean_eng_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [287]:
#Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
#Average Math Score
#Average Reading Score
#% Passing Math
#% Passing Reading
#Overall Passing Rate (Average of the above two)

overview_df["Average Math Score"] = pd.to_numeric(overview_df["Average Math Score"])
overview_df["Average Reading Score"] = pd.to_numeric(overview_df["Average Math Score"])

overview_df["Per Student Budget"] = pd.to_numeric(overview_df["Per Student Budget"])

overview_df["% Passing Math"] = overview_df["% Passing Math"].replace('%', '', regex=True).astype('float')
overview_df["% Passing Math"] = pd.to_numeric(overview_df["% Passing Math"])

overview_df["% Passing Reading"] = overview_df["% Passing Reading"].replace('%', '', regex=True).astype('float')
overview_df["% Passing Reading"] = pd.to_numeric(overview_df["% Passing Reading"])

bins = [0, 585, 615, 645, 675]

group_sch = ['< $585', "$585-615", "$615-645", "$645-675"]

overview_df['Spending Ranges (Per Student)'] = pd.cut(overview_df['Per Student Budget'], bins = bins, labels = group_sch)

spending_df = overview_df.groupby(['Spending Ranges (Per Student)'])

In [288]:
avg_math_score = spending_df["Average Math Score"].mean()
avg_reading_score = spending_df["Average Reading Score"].mean()
avg_percent_math = spending_df["% Passing Math"].mean()
avg_percent_reading = spending_df["% Passing Reading"].mean()
overall_passing = (avg_percent_math + avg_percent_reading)/2

#create a df to store Scores by School Spending
by_spending = pd.DataFrame({"Average Math Score":avg_math_score,
                                          "Average Reading Score":avg_reading_score,
                                          "% Passing Math":avg_percent_math,
                                          "% Passing Reading":avg_percent_reading,
                                          "% Overall Passing Rate":overall_passing
                                         })

# reformating
by_spending['Average Math Score'] = by_spending['Average Math Score'].map("{:,.2f}".format)
by_spending['Average Reading Score'] = by_spending['Average Reading Score'].map("{:,.2f}".format)
by_spending['% Passing Math'] = by_spending['% Passing Math'].map("{:.2f}".format)
by_spending['% Passing Reading'] = by_spending['% Passing Reading'].map("{:.2f}".format)
by_spending['% Overall Passing Rate'] = by_spending['% Overall Passing Rate'].map("{:.2f}".format)

#rearrage columns
by_spending = by_spending [["Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing Rate"]]

# print out the table
by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
< $585,83.46,83.46,0.93,0.97,0.95
$585-615,83.60,83.60,0.94,0.96,0.95
$615-645,79.08,79.08,0.76,0.86,0.81
$645-675,77.00,77.00,0.66,0.81,0.74

## Scores by School Size

* Perform the same operations as above, based on school size.

In [289]:
#Da Binz
bins_one = [0, 1000, 2000, 5000]

#categories
group_one = ['Small (<1000)', "Medium (1000-2000)", "Large (2000-5000)"]

In [290]:
overview_df['Total Students'] = overview_df['Total Students'].replace(',', '', regex=True).astype('float')
overview_df['Total Students'] = pd.to_numeric(overview_df['Total Students'])
overview_df['School Size'] = pd.cut(overview_df['Total Students'], bins = bins_one, labels = group_one)

by_school_size = overview_df.groupby(['School Size'])

avg_math_score = by_school_size["Average Math Score"].mean()
avg_reading_score = by_school_size["Average Reading Score"].mean()
avg_percent_math = by_school_size["% Passing Math"].mean()
avg_percent_reading = by_school_size["% Passing Reading"].mean()
overall_percent = (avg_percent_math + avg_percent_reading)/2\

size_df = pd.DataFrame({"Average Math Score":avg_math_score,
                                          "Average Reading Score":avg_reading_score,
                                          "% Passing Math":avg_percent_math,
                                          "% Passing Reading":avg_percent_reading,
                                          "% Overall Passing Rate":overall_percent
                                         })
# reformating
size_df['Average Math Score'] = size_df['Average Math Score'].map("{:,.2f}".format)
size_df['Average Reading Score'] = size_df['Average Reading Score'].map("{:,.2f}".format)
size_df['% Passing Math'] = size_df['% Passing Math'].map("{:.2f}".format)
size_df['% Passing Reading'] = size_df['% Passing Reading'].map("{:.2f}".format)
size_df['% Overall Passing Rate'] = size_df['% Overall Passing Rate'].map("{:.2f}".format)

#rearrage columns
size_df = size_df [["Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing Rate"]]

# print out the table
size_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.82,83.82,0.94,0.96,0.95
Medium (1000-2000),83.37,83.37,0.94,0.97,0.95
Large (2000-5000),77.75,77.75,0.70,0.83,0.76

## Scores by School Type
* Perform the same operations as above, based on school type

In [291]:
type_df = overview_df.groupby(['School Type'])

avg_math_score = type_df["Average Math Score"].mean()
avg_reading_score = type_df["Average Reading Score"].mean()
avg_percent_math = type_df["% Passing Math"].mean()
avg_percent_reading = type_df["% Passing Reading"].mean()
overall_passing = (avg_percent_math + avg_percent_reading)/2



school_type_df = pd.DataFrame({"Average Math Score":avg_math_score,
                                          "Average Reading Score":avg_reading_score,
                                          "% Passing Math":avg_percent_math,
                                          "% Passing Reading":avg_percent_reading,
                                          "% Overall Passing Rate":overall_passing
                                         })

# reformating
school_type_df['Average Math Score'] = school_type_df['Average Math Score'].map("{:,.2f}".format)
school_type_df['Average Reading Score'] = school_type_df['Average Reading Score'].map("{:,.2f}".format)
school_type_df['% Passing Math'] = school_type_df['% Passing Math'].map("{:.2f}".format)
school_type_df['% Passing Reading'] = school_type_df['% Passing Reading'].map("{:.2f}".format)
school_type_df['% Overall Passing Rate'] = school_type_df['% Overall Passing Rate'].map("{:.2f}".format)

#rearrage columns
school_type_df = school_type_df [["Average Math Score",
                            "Average Reading Score",
                            "% Passing Math",
                            "% Passing Reading",
                            "% Overall Passing Rate"]]

# print out the table
school_type_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.47,83.47,0.94,0.97,0.95
District,76.96,76.96,0.67,0.81,0.74