### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#Calculate the total number of schools
tot_schools = school_data_complete["school_name"].unique()
tot_schools

total_schools = len(tot_schools)
total_schools

15

In [4]:
#Calculate the total number of students
total_stud = school_data_complete["size"].count()
total_stud

39170

In [5]:
#Calculate the total budget
budg_total = school_data["budget"].sum()
budg_total

24649428

In [6]:
#Calculate the average math score
average_math = school_data_complete["math_score"].mean()
average_math

78.98537145774827

In [7]:
#Calculate the average reading score
average_read = school_data_complete["reading_score"].mean()
average_read

81.87784018381414

In [8]:
#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = school_data_complete.query("math_score >= 70")["reading_score"].count()/total_stud
passing_math

0.749808526933878

In [9]:
#Calculate the percentage of students with a passing reading score (70 or greater)
passing_read = school_data_complete.query("reading_score >= 70")["reading_score"].count()/total_stud
passing_read

0.8580546336482001

In [10]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
over_passing = ((passing_math + passing_read)/2)
over_passing

0.8039315802910391

In [11]:
#Create a dataframe to hold the above results

DistrictSum = pd.DataFrame({"Total Schools":[total_schools],
                        "Total Students":[total_stud],
                        "Total Budget":[budg_total],
                        "Average Math Score":[average_math],
                        "Average Reading Score":[average_read],
                        "Percent Passing Math":[passing_math],
                        "Percent Passing Reading":[passing_read],
                        "Percent Passing Overall":[over_passing]
                       })
DistrictSum


#Optional: give the displayed data cleaner formatting

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Passing Overall
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.803932

## School Summary

In [12]:
#School Name
school_nombre = school_data_complete.set_index('school_name').groupby(['school_name'])

school_nombre

In [13]:
#SchoolTyoe
school_type = school_data.set_index('school_name')['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
#total school budget
school_budget = school_data.set_index("school_name")["budget"]
school_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [15]:
#total Studentss
total_students = school_nombre['Student ID'].count()
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [16]:
#Per Student Budget: group the schools divide it by the numbner of students
ps_budg = school_budget/total_students
ps_budg

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [17]:
avg_math = school_nombre["math_score"].mean()
avg_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [18]:
avg_read = school_nombre["reading_score"].mean()
avg_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [19]:
avg_overall = ((avg_math + avg_read)/2)
avg_overall

school_name
Bailey High School       79.041198
Cabrera High School      83.518837
Figueroa High School     78.934893
Ford High School         78.924425
Griffin High School      83.584128
Hernandez High School    79.112082
Holden High School       83.809133
Huang High School        78.906068
Johnson High School      79.019429
Pena High School         83.942308
Rodriguez High School    78.793698
Shelton High School      83.542589
Thomas High School       83.633639
Wilson High School       83.631844
Wright High School       83.818611
dtype: float64

In [20]:
overview_df = pd.DataFrame({"School Type":school_type, "Total School Budget":school_budget, "Per Student Budget":ps_budg, "Total Students":total_students, "Average Math Score":avg_math, "Average Reading Score":avg_read, "Overall Average":avg_overall
                       
                       })
overview_df

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,Overall Average
Bailey High School,District,3124928,628.0,4976,77.048432,81.033963,79.041198
Cabrera High School,Charter,1081356,582.0,1858,83.061895,83.975780,83.518837
Figueroa High School,District,1884411,639.0,2949,76.711767,81.158020,78.934893
Ford High School,District,1763916,644.0,2739,77.102592,80.746258,78.924425
Griffin High School,Charter,917500,625.0,1468,83.351499,83.816757,83.584128
Hernandez High School,District,3022020,652.0,4635,77.289752,80.934412,79.112082
Holden High School,Charter,248087,581.0,427,83.803279,83.814988,83.809133
Huang High School,District,1910635,655.0,2917,76.629414,81.182722,78.906068
Johnson High School,District,3094650,650.0,4761,77.072464,80.966394,79.019429
Pena High School,Charter,585858,609.0,962,83.839917,84.044699,83.942308
Rodriguez High School,District,2547363,637.0,3999,76.842711,80.744686,78.793698
Shelton High School,Charter,1056600,600.0,1761,83.359455,83.725724,83.542589
Thomas High School,Charter,1043130,638.0,1635,83.418349,83.848930,83.633639
Wilson High School,Charter,1319574,578.0,2283,83.274201,83.989488,83.631844
Wright High School,Charter,1049400,583.0,1800,83.682222,83.955000,83.818611

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [25]:
#sort it
sorted_df = overview_df.sort_values(by=['Overall Average'], ascending=False)
sorted_df
#grab the first five schools
first_five = sorted_df.head(5)
first_five

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,Overall Average
Pena High School,Charter,585858,609.0,962,83.839917,84.044699,83.942308
Wright High School,Charter,1049400,583.0,1800,83.682222,83.955000,83.818611
Holden High School,Charter,248087,581.0,427,83.803279,83.814988,83.809133
Thomas High School,Charter,1043130,638.0,1635,83.418349,83.848930,83.633639
Wilson High School,Charter,1319574,578.0,2283,83.274201,83.989488,83.631844

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [27]:
bottom_df = overview_df.sort_values(by=['Overall Average'], ascending=True)
bottom_df

bottom_five = bottom_df.head(5)
bottom_five

,School Type,Total School Budget,Per Student Budget,Total Students,Average Math Score,Average Reading Score,Overall Average
Rodriguez High School,District,2547363,637.0,3999,76.842711,80.744686,78.793698
Huang High School,District,1910635,655.0,2917,76.629414,81.182722,78.906068
Ford High School,District,1763916,644.0,2739,77.102592,80.746258,78.924425
Figueroa High School,District,1884411,639.0,2949,76.711767,81.158020,78.934893
Johnson High School,District,3094650,650.0,4761,77.072464,80.966394,79.019429

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type